Q.1. Create a list in python using the followings: 2,3,4,5,6,7 with variable ‘a’

Add ‘mango to the above list

Also add banana, grapes & orange in the list 

insert apple in the 5th position of a variable ‘a’

Remove last item from the list

In [1]:
a = [2,3,4,5,6,7]

In [2]:
a.append("mango")        # Adding mango to the above list

In [3]:
a

[2, 3, 4, 5, 6, 7, 'mango']

In [4]:
a.append(["banana", "grapes", "orange"])  # Adding list of banana, grapes & orange in the list a

In [5]:
a

[2, 3, 4, 5, 6, 7, 'mango', ['banana', 'grapes', 'orange']]

In [6]:
a.pop()            # Removing list of banana, grapes & orange from the list a

['banana', 'grapes', 'orange']

In [7]:
a

[2, 3, 4, 5, 6, 7, 'mango']

In [8]:
a.append(["banana", "grapes", "orange"])

In [9]:
a

[2, 3, 4, 5, 6, 7, 'mango', ['banana', 'grapes', 'orange']]

In [10]:
a.pop(7)

['banana', 'grapes', 'orange']

In [11]:
a

[2, 3, 4, 5, 6, 7, 'mango']

In [12]:
a.extend(["banana", "grapes", "orange"])   # Adding banana, grapes & orange in the list a

In [13]:
a

[2, 3, 4, 5, 6, 7, 'mango', 'banana', 'grapes', 'orange']

In [14]:
a.insert(5, "apple")     # Inserting apple in the 5th position of a variable ‘a’

In [15]:
a

[2, 3, 4, 5, 6, 'apple', 7, 'mango', 'banana', 'grapes', 'orange']

In [16]:
a.pop(5)            # Removing apple from the 5th position of a variable a

'apple'

In [17]:
a

[2, 3, 4, 5, 6, 7, 'mango', 'banana', 'grapes', 'orange']

In [18]:
a.insert(5, "apple")

In [19]:
a

[2, 3, 4, 5, 6, 'apple', 7, 'mango', 'banana', 'grapes', 'orange']

In [20]:
a.pop()        # Removing last item from the list

'orange'

In [21]:
a.append("orange")

In [22]:
a

[2, 3, 4, 5, 6, 'apple', 7, 'mango', 'banana', 'grapes', 'orange']

In [24]:
a.remove("orange")

In [25]:
a

[2, 3, 4, 5, 6, 'apple', 7, 'mango', 'banana', 'grapes']

Q.2.

L = [1,2,3,4,5,6,7]

Using the above list slice from 1:4

In [26]:
L = [1,2,3,4,5,6,7]

In [27]:
L[1]

2

In [28]:
L[4]

5

In [29]:
L[1:4]

[2, 3, 4]

In [30]:
L[1:]

[2, 3, 4, 5, 6, 7]

In [31]:
L[:4]

[1, 2, 3, 4]

In [32]:
L[::-1]

[7, 6, 5, 4, 3, 2, 1]

In [33]:
L[2::-1]

[3, 2, 1]

In [34]:
L[::2]

[1, 3, 5, 7]

In [35]:
L[-4::-1]

[4, 3, 2, 1]

In [36]:
L[-4:2:-1]

[4]

In [37]:
L[-4:1:-1]

[4, 3]

In [38]:
L

[1, 2, 3, 4, 5, 6, 7]

In [39]:
L[1:6:2]

[2, 4, 6]

In [40]:
L[-6:6:2]

[2, 4, 6]

In [41]:
L[-6:5:2]

[2, 4]

In [42]:
L[-2:-7:-3]

[6, 3]

In [43]:
L[5:0:-3]

[6, 3]

In [44]:
L[5:1:-2]

[6, 4]

In [45]:
L[-2:-6:-2]

[6, 4]

Q.3. Reverse the order of given string L = [4,5,6,8,3] Without using reverse() function.

In [46]:
L = [4,5,6,8,3]

In [47]:
L.reverse()    # Inplace operation

In [48]:
L

[3, 8, 6, 5, 4]

In [49]:
L.reverse()

In [50]:
L

[4, 5, 6, 8, 3]

In [51]:
L[::-1]

[3, 8, 6, 5, 4]

In [52]:
L = L[::-1]

In [53]:
L

[3, 8, 6, 5, 4]

Q.4. Use list comprehension to square the given list L=[2,4,7,3,6,8]

In [54]:
L = [2,4,7,3,6,8]

In [55]:
square_list = [i**2 for i in L]

In [56]:
square_list

[4, 16, 49, 9, 36, 64]

Q.5. Create a function that takes in a tuple of integers and returns the sum of the integers. Test the
function with a tuple of your choice.

In [57]:
def sum_of_integers(x):
    sum = 0
    for i in x:
        sum += i
    return sum

In [58]:
t = (5,8,2,7,9,10,4)

In [59]:
print(sum_of_integers(t))

45

Q.6. Create two sets of your favourite fruits, and use the union() method to combine them into a single set.
Print the resulting set to the console.

In [60]:
fruits1 = {"apple", "banana", "pear"}

In [61]:
fruits2 = {"orange", "grape", "kiwi"}

In [62]:
combined_fruits = fruits1.union(fruits2)

In [63]:
print(combined_fruits)

{'banana', 'apple', 'kiwi', 'pear', 'grape', 'orange'}

In [64]:
fruits1.update(fruits2)       # Updating set fruits1 with set fruits2 with all unique values and it is inplace operation.

In [65]:
fruits1      # Updated set fruits1

{'apple', 'banana', 'grape', 'kiwi', 'orange', 'pear'}

In [66]:
fruits1.difference(fruits2)   # set fruits1 is different from set fruits2 because of {'apple', 'banana', 'pear'}

{'apple', 'banana', 'pear'}

Q.7. Create a set of random words, and use the add() method to add a new word to the set. Print the
resulting set to the console.

In [67]:
words = {"hello", "world", "python"}

In [68]:
words.add("programming")

In [69]:
words

{'hello', 'programming', 'python', 'world'}

In [70]:
words.add("Data")

In [71]:
print(words)

{'programming', 'world', 'Data', 'python', 'hello'}

In [72]:
words.add("Science")

In [73]:
print(words)

{'Science', 'programming', 'world', 'Data', 'python', 'hello'}

Q.8. Create a set of your favourite animals, and use the remove() method to remove one animal from the
set. Print the resulting set to the console.

In [74]:
animals = {"dog", "cat", "hamster", "parrot"}

In [75]:
animals.remove("cat")

In [76]:
print(animals)

{'dog', 'hamster', 'parrot'}

In [77]:
animals.add("lion")

In [78]:
print(animals)

{'lion', 'dog', 'parrot', 'hamster'}

In [82]:
animals.add("horse")

In [83]:
animals.add("tiger")

In [84]:
print(animals)

{'lion', 'dog', 'parrot', 'horse', 'hamster', 'tiger'}

In [85]:
animals.remove("parrot")

In [86]:
print(animals)

{'lion', 'dog', 'horse', 'hamster', 'tiger'}

Q.9. favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}

      favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]

      Use the zip() function to combine the book set and movie list into a list of tuples  representing book/ movie pairs. 
      Print the resulting list.

In [87]:
favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}

In [88]:
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]

In [89]:
zip(favorite_books, favorite_movies)

In [90]:
list(zip(favorite_books, favorite_movies))

[('1984', 'The Shawshank Redemption'),
 ('To Kill a Mockingbird', 'The Godfather'),
 ('Pride and Prejudice', 'The Dark Knight')]

In [91]:
books_movies_pairs = list(zip(favorite_books, favorite_movies))

In [92]:
print(books_movies_pairs)

[('1984', 'The Shawshank Redemption'), ('To Kill a Mockingbird', 'The Godfather'), ('Pride and Prejudice', 'The Dark Knight')]

Q.10. Write a Python program to find the difference between consecutive numbers in a list.

In [93]:
def diff_between_consecutive_number(x):
    diff = []
    for i in range(1, len(x)):
        y = x[i] - x[i-1]
        diff.append(y)
    return diff

In [94]:
my_list = [5, 9, 12, 18, 22]

In [95]:
diffs = diff_between_consecutive_number(my_list)

In [96]:
print(diffs)

[4, 3, 6, 4]

In [99]:
l = [45,50,60,75,82,95,100]

In [100]:
print(diff_between_consecutive_number(l))

[5, 10, 15, 7, 13, 5]