Q.1. Create a class called "Person" with properties for "name", "age", and "gender". Create an object of this
class and print out its properties.

In [1]:
class Person:
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender
        
    def return_person_detail(self):
        return self.name, self.age, self.gender

In [2]:
object = Person("Kiran", 28, "Male")

In [3]:
print(object.return_person_detail())

('Kiran', 28, 'Male')

In [4]:
print(object.name)

Kiran

In [5]:
print(object.age)

28

In [6]:
print(object.gender)

Male

Q.2. Write a Python class called "Rectangle" with attributes for "width" and "height". Implement methods
to calculate the area and perimeter of the rectangle. Create an instance of this class and use it to print out
the rectangle's area and perimeter.

In [7]:
class Rectangle:
    def __init__(self, width, height):
        self.width = width
        self.height = height
        
    def return_area_and_perimeter(self):
        area = self.width * self.height
        perimeter = (2 * self.width) + (2 * self.height)
        return f"The area of given rectangle is {area} and perimeter of given rectangle is {perimeter}."

In [8]:
object2 = Rectangle(5, 20)

In [9]:
print(object2.return_area_and_perimeter())

The area of given rectangle is 100 and perimeter of given rectangle is 50.

In [10]:
object2.height

20

In [11]:
object2.width

5

Q.3. Write a Python class called "BankAccount" with attributes for "balance" and "interest_rate".
Implement methods to deposit and withdraw money from the account, as well as to calculate the interest
earned on the balance based on the interest rate. Create an instance of this class and use it to test out the
implemented methods for deposit, withdrawal, and interest calculation.

In [12]:
class BankAccount:
    def __init__(self, balance, interest_rate):
        self.balance = balance
        self.interest_rate = interest_rate
        
    def deposit(self, amount):
        if amount > 0:
            self.balance += amount
            return f"Deposited Money : ${amount}. New Balance : {self.balance}."
        else:
            return "Invalid Deposit Money."
        
    def withdraw(self, amount):
        if 0 < amount <= self.balance:
            self.balance -= amount
            return f"Withdrawal Money : {amount}. New Balance : {self.balance}."
        else:
            return "Invalid Withdrawal Money or Insufficient Balance."
        
    def interest(self):
        interest_amount = self.balance * (self.interest_rate/100)
        return interest_amount

In [13]:
my_account = BankAccount(1000, 2.5)

In [14]:
my_account.balance

1000

In [15]:
my_account.interest_rate

2.5

In [16]:
print(my_account.interest())

25.0

In [17]:
my_account.deposit(6000)

'Deposited Money : $6000. New Balance : 7000.'

In [18]:
print(my_account.interest())

175.0

In [19]:
my_account.withdraw(2500)

'Withdrawal Money : 2500. New Balance : 4500.'

In [20]:
my_account.balance

4500

In [21]:
print(my_account.interest())

112.5

In [22]:
my_account.deposit(2500)

'Deposited Money : $2500. New Balance : 7000.'

In [23]:
my_account.withdraw(2000)

'Withdrawal Money : 2000. New Balance : 5000.'

In [24]:
interest_earned = my_account.interest()
print(f"Interest Earned : ${interest_earned:.2f}")

Interest Earned : $125.00

Q.4. Write a Python class called "Animal" with attributes for "name" and "species". Create a subclass of
"Animal" called "Dog" with additional attributes for "breed" and "owner". Implement both classes with
appropriate methods and constructors to initialise their properties. Create instances of both classes and
use them to print out the various properties of the animals and dogs, such as their names, species,
breeds, and owners.

In [25]:
class Animal:
    def __init__(self, name, species):
        self.name = name
        self.species = species

    def __str__(self):
        return f"{self.name} is a {self.species}"

class Dog(Animal):
    def __init__(self, name, species, breed, owner):
        super().__init__(name, species)
        self.breed = breed
        self.owner = owner

    def __str__(self):
        return f"{self.name} is a {self.breed} {self.species} owned by {self.owner}"

# Create an instance of the Animal class
my_animal = Animal("Lionel", "Lion")

# Create an instance of the Dog subclass
my_dog = Dog("Buddy", "Dog", "Golden Retriever", "Alice")

# Print information about the animal and dog
print(my_animal)  
print(my_dog)

Lionel is a Lion
Buddy is a Golden Retriever Dog owned by Alice

In [26]:
class Animal:
    def __init__(self, name, species):
        self.name = name
        self.species = species
        
    def animal_detail(self):
        return f"{self.name} is a {self.species}."
    
class Dog(Animal):
    def __init__(self, name, species, breed, owner):
        super().__init__(name, species)
        self.breed = breed
        self.owner = owner
        
    def dog_detail(self):
        return f"{self.name} is a {self.breed} {self.species} owned by {self.owner}."

In [27]:
animal_obj = Animal("Siri", "cat")

In [28]:
animal_obj.name

'Siri'

In [29]:
animal_obj.species

'cat'

In [30]:
print(animal_obj.animal_detail())

Siri is a cat.

In [31]:
dog_obj = Dog("Tiger", "Dog", "Labrador Retriever", "Niraj")

In [32]:
dog_obj.name

'Tiger'

In [33]:
dog_obj.species

'Dog'

In [34]:
dog_obj.breed

'Labrador Retriever'

In [35]:
dog_obj.owner

'Niraj'

In [36]:
print(dog_obj.animal_detail())

Tiger is a Dog.

In [37]:
print(dog_obj.dog_detail())

Tiger is a Labrador Retriever Dog owned by Niraj.

Q.5. Create a class called "Car" with properties for "make", "model", and "year". Create a subclass of "Car"
called "ElectricCar" with additional properties for "battery_size" and "range". Create objects of both
classes and print out their properties.

In [38]:
class Car:
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year
        
    def __str__(self):
        return f"{self.make} {self.model} is officially launched in {self.year}."
    
class ElectricCar(Car):
    def __init__(self, make, model, year, battery_size, range):
        super().__init__(make, model, year)
        self.battery_size = battery_size
        self.range = range
        
    def __str__(self):
        return f"The {self.make} {self.model} is an electric car launched in {self.year} with electric range {self.range} and {self.battery_size} battery."

In [39]:
car_obj = Car("Tesla", "Model S", 2022)

In [40]:
print(car_obj)

Tesla Model S is officially launched in 2022.

In [41]:
electric_car_obj = ElectricCar("Audi", "R8 e-tron Model", 2023, "92 KWh", "450 km")

In [42]:
print(electric_car_obj)

The Audi R8 e-tron Model is an electric car launched in 2023 with electric range 450 km and 92 KWh battery.

In [43]:
class Car:
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year
        
    def car_details(self):
        return f"{self.make} {self.model} is officially launched in {self.year}."
    
class ElectricCar(Car):
    def __init__(self, make, model, year, battery_size, range):
        super().__init__(make, model, year)
        self.battery_size = battery_size
        self.range = range
        
    def electric_car_details(self):
        return f"The {self.make} {self.model} is an electric car launched in {self.year} with electric range {self.range} and {self.battery_size} battery."

In [44]:
car_obj = Car("Mercedes-Benz", "S-Class 320 CDI", 2008)

In [45]:
car_obj.make

'Mercedes-Benz'

In [46]:
car_obj.model

'S-Class 320 CDI'

In [47]:
car_obj.year

2008

In [48]:
print(car_obj.car_details())

Mercedes-Benz S-Class 320 CDI is officially launched in 2008.

In [49]:
electric_car_obj = ElectricCar("Audi", "R8 e-tron Model", 2023, "92 KWh", "450 km")

In [50]:
electric_car_obj.make

'Audi'

In [51]:
electric_car_obj.model

'R8 e-tron Model'

In [52]:
electric_car_obj.year

2023

In [53]:
electric_car_obj.battery_size

'92 KWh'

In [54]:
electric_car_obj.range

'450 km'

In [55]:
print(electric_car_obj.car_details())

Audi R8 e-tron Model is officially launched in 2023.

In [56]:
print(electric_car_obj.electric_car_details())

The Audi R8 e-tron Model is an electric car launched in 2023 with electric range 450 km and 92 KWh battery.

Q.6. Create a class called "Student" with properties for "name" and "id". Create a subclass of "Student"
called "GraduateStudent" with additional properties for "advisor" and "research_area". Create objects of
both classes and print out their properties.

In [57]:
class Student:
    def __init__(self, name, id):
        self.name = name
        self.id = id
        
    def student_details(self):
        return f"Name : {self.name}, ID : {self.id}"
    
class GraduateStudent(Student):
    def __init__(self, name, id, advisor, research_area):
        super().__init__(name, id)
        self.advisor = advisor
        self.research_area = research_area
        
    def grad_student_details(self):
        return f"Name : {self.name}, ID : {self.id}, Advisor : {self.advisor}, Research Area : {self.research_area}"

In [58]:
student_obj = Student("Sanket", 12345)

In [59]:
student_obj.name

'Sanket'

In [60]:
student_obj.id

12345

In [61]:
print(student_obj.student_details())

Name : Sanket, ID : 12345

In [62]:
grad_student = GraduateStudent("Akshay", "N19511008", "Dr. Pujari", "Data Science")

In [63]:
grad_student.name

'Akshay'

In [64]:
grad_student.id

'N19511008'

In [65]:
grad_student.advisor

'Dr. Pujari'

In [66]:
grad_student.research_area

'Data Science'

In [67]:
print(grad_student.student_details())

Name : Akshay, ID : N19511008

In [68]:
print(grad_student.grad_student_details())

Name : Akshay, ID : N19511008, Advisor : Dr. Pujari, Research Area : Data Science

In [69]:
class Student:
    def __init__(self, name, id):
        self.name = name
        self.id = id
        
    def __str__(self):
        return f"Name : {self.name}, ID : {self.id}"
    
class GraduateStudent(Student):
    def __init__(self, name, id, advisor, research_area):
        super().__init__(name, id)
        self.advisor = advisor
        self.research_area = research_area
        
    def __str__(self):
        return f"Name : {self.name}, ID : {self.id}\nAdvisor : {self.advisor}, Research Area : {self.research_area}"

In [70]:
student = Student("Sanket", 12345)

In [71]:
student.name

'Sanket'

In [72]:
student.id

12345

In [73]:
print(student)

Name : Sanket, ID : 12345

In [74]:
graduate_student = GraduateStudent("Akshay", "N19511008", "Dr. Pujari", "Data Science")

In [75]:
graduate_student.name

'Akshay'

In [76]:
graduate_student.id

'N19511008'

In [77]:
graduate_student.advisor

'Dr. Pujari'

In [78]:
graduate_student.research_area

'Data Science'

In [79]:
print(graduate_student)

Name : Akshay, ID : N19511008
Advisor : Dr. Pujari, Research Area : Data Science

Q.7. Create a class called "Shape" with methods to calculate the area and perimeter of the shape. Create
subclasses of "Shape" for "Rectangle", "Circle", and "Triangle" with their own methods for calculating area
and perimeter. Create objects of each class and print out their area and perimeter.

In [80]:
import math
import abc

In [81]:
class Shape:
    
    @abc.abstractmethod
    def calculate_perimeter(self):
        pass
    
    @abc.abstractmethod
    def calculate_area(self):
        pass

In [82]:
class Rectangle(Shape):
    def __init__(self, height, width):
        self.height = height
        self.width = width
        
    def calculate_perimeter(self):
        perimeter = (2 * self.height) + (2 * self.width)
        return perimeter
    
    def calculate_area(self):
        area = self.height * self.width
        return area
    
class Circle(Shape):
    def __init__(self, radius):
        self.radius = radius
        
    def calculate_perimeter(self):
        perimeter = 2 * math.pi * self.radius
        return perimeter
    
    def calculate_area(self):
        area = math.pi * (self.radius ** 2)
        return area
    
class Triangle(Shape):
    def __init__(self, side1, side2, side3):
        self.side1 = side1
        self.side2 = side2
        self.side3 = side3
        
    def calculate_perimeter(self):
        perimeter = self.side1 + self.side2 + self.side3
        return perimeter
    
    def calculate_area(self):
        s = (self.side1 + self.side2 + self.side3)/2
        area = math.sqrt(s * (s - self.side1) * (s - self.side2) * (s - self.side3))
        return area

In [83]:
rectangle = Rectangle(5, 4)

In [84]:
rectangle.height

5

In [85]:
rectangle.width

4

In [86]:
print("Rectangle Perimeter:", rectangle.calculate_perimeter())

Rectangle Perimeter: 18

In [87]:
print("Rectangle Area:", rectangle.calculate_area())

Rectangle Area: 20

In [88]:
circle = Circle(3)

In [89]:
circle.radius

3

In [90]:
print("Circle Perimeter:", circle.calculate_perimeter())

Circle Perimeter: 18.84955592153876

In [91]:
print("Circle Area:", circle.calculate_area())

Circle Area: 28.274333882308138

In [92]:
triangle = Triangle(3, 4, 5)

In [93]:
triangle.side1

3

In [94]:
triangle.side2

4

In [95]:
triangle.side3

5

In [96]:
print("Triangle Perimeter:", triangle.calculate_perimeter())

Triangle Perimeter: 12

In [97]:
print("Triangle Area:", triangle.calculate_area())

Triangle Area: 6.0

In [98]:
import math

class Shape:
    def calculate_area(self):
        pass

    def calculate_perimeter(self):
        pass

class Rectangle(Shape):
    def __init__(self, width, height):
        self.width = width
        self.height = height

    def calculate_area(self):
        return self.width * self.height

    def calculate_perimeter(self):
        return 2 * (self.width + self.height)

class Circle(Shape):
    def __init__(self, radius):
        self.radius = radius

    def calculate_area(self):
        return math.pi * self.radius**2

    def calculate_perimeter(self):
        return 2 * math.pi * self.radius

class Triangle(Shape):
    def __init__(self, side1, side2, side3):
        self.side1 = side1
        self.side2 = side2
        self.side3 = side3

    def calculate_area(self):
        s = (self.side1 + self.side2 + self.side3) / 2
        return math.sqrt(s * (s - self.side1) * (s - self.side2) * (s - self.side3))

    def calculate_perimeter(self):
        return self.side1 + self.side2 + self.side3

In [99]:
# Create objects of each class
rectangle = Rectangle(4, 5)
circle = Circle(3)
triangle = Triangle(3, 4, 5)

In [100]:
# Calculate and print the area and perimeter of each shape
print("Rectangle Area:", rectangle.calculate_area())
print("Rectangle Perimeter:", rectangle.calculate_perimeter())

print("Circle Area:", circle.calculate_area())
print("Circle Perimeter:", circle.calculate_perimeter())

print("Triangle Area:", triangle.calculate_area())
print("Triangle Perimeter:", triangle.calculate_perimeter())

Rectangle Area: 20
Rectangle Perimeter: 18
Circle Area: 28.274333882308138
Circle Perimeter: 18.84955592153876
Triangle Area: 6.0
Triangle Perimeter: 12

Q.8. Create a class called "Employee" with properties for "name", "id", and "salary". Add methods to give
the employee a raise and to calculate their annual salary. Create objects of this class and test out the
methods.

In [101]:
class Employee:
    def __init__(self, name, id, salary):
        self.name = name
        self.id = id
        self.salary = salary
        
    def salary_raise(self, raise_percent):
        self.salary += (self.salary * raise_percent/100)
        return f"After 12 months New Salary of {self.name} is {self.salary}."
    
    def calculate_annual_salary(self):
        annual_salary = self.salary * 12
        return f"Sanket's Annual Salary: {annual_salary}"

In [102]:
employee = Employee("Sanket", 12345, 50000)

In [103]:
employee.name

'Sanket'

In [104]:
employee.id

12345

In [105]:
employee.salary

50000

In [106]:
print(employee.calculate_annual_salary())

Sanket's Annual Salary: 600000

In [107]:
print(employee.salary_raise(10))

After 12 months New Salary of Sanket is 55000.0.

In [108]:
print(employee.calculate_annual_salary())

Sanket's Annual Salary: 660000.0

In [109]:
class Employee:
    def __init__(self, name, id, salary):
        self.name = name
        self.id = id
        self.salary = salary

    def give_raise(self, amount):
        self.salary += amount

    def calculate_annual_salary(self):
        return self.salary * 12

In [110]:
# Create objects of the Employee class
employee1 = Employee("Alice", 101, 50000)
employee2 = Employee("Bob", 102, 60000)

In [111]:
# Test the give_raise method
employee1.give_raise(5000)
employee2.give_raise(6000)

In [112]:
# Calculate and print the annual salary of each employee
annual_salary1 = employee1.calculate_annual_salary()
annual_salary2 = employee2.calculate_annual_salary()

print(f"{employee1.name}'s Annual Salary: ${annual_salary1}")
print(f"{employee2.name}'s Annual Salary: ${annual_salary2}")

Alice's Annual Salary: $660000
Bob's Annual Salary: $792000

Q.9. Create a class called "Book" with properties for "title", "author", and "publisher". Create a subclass of
"Book" called "Ebook" with additional properties for "file_format" and "file_size". Create objects of both
classes and print out their properties.

In [113]:
class Book:
    def __init__(self, title, author, publisher):
        self.title = title
        self.author = author
        self.publisher = publisher
        
    def book_details(self):
        return f"Book Title : {self.title}\nBook Author : {self.author}\nBook Publisher : {self.publisher}"
    
class Ebook(Book):
    def __init__(self, title, author, publisher, file_format, file_size):
        super().__init__(title, author, publisher)
        self.file_format = file_format
        self.file_size = file_size
        
    def ebook_details(self):
        return f"Ebook Title : {self.title}\nEbook Author : {self.author}\nEbook Publisher : {self.publisher}\nEbook File Format : {self.file_format}\nEbook File Size : {self.file_size}"

In [114]:
book = Book("Wings Of Fire", "A P J Abdul Kalam & Arun Tiwari", "Universities Press")

In [115]:
book.title

'Wings Of Fire'

In [116]:
book.author

'A P J Abdul Kalam & Arun Tiwari'

In [117]:
book.publisher

'Universities Press'

In [118]:
print(book.book_details())

Book Title : Wings Of Fire
Book Author : A P J Abdul Kalam & Arun Tiwari
Book Publisher : Universities Press

In [119]:
ebook = Ebook("Mindset", "Dr. Carol S. Dweck", "Random House Publishing Group", "PDF", "20.8 MB")

In [120]:
ebook.title

'Mindset'

In [121]:
ebook.author

'Dr. Carol S. Dweck'

In [122]:
ebook.publisher

'Random House Publishing Group'

In [123]:
ebook.file_format

'PDF'

In [124]:
ebook.file_size

'20.8 MB'

In [125]:
print(ebook.book_details())

Book Title : Mindset
Book Author : Dr. Carol S. Dweck
Book Publisher : Random House Publishing Group

In [126]:
print(ebook.ebook_details())

Ebook Title : Mindset
Ebook Author : Dr. Carol S. Dweck
Ebook Publisher : Random House Publishing Group
Ebook File Format : PDF
Ebook File Size : 20.8 MB

In [127]:
class Book:
    def __init__(self, title, author, publisher):
        self.title = title
        self.author = author
        self.publisher = publisher

    def __str__(self):
        return f"Title: {self.title}\nAuthor: {self.author}\nPublisher: {self.publisher}"

class Ebook(Book):
    def __init__(self, title, author, publisher, file_format, file_size):
        super().__init__(title, author, publisher)
        self.file_format = file_format
        self.file_size = file_size

    def __str__(self):
        book_info = super().__str__()
        return f"{book_info}\nFile Format: {self.file_format}\nFile Size: {self.file_size}"

In [128]:
# Create an instance of the Book class
paper_book = Book("The Great Gatsby", "F. Scott Fitzgerald", "Scribner")

In [129]:
# Create an instance of the Ebook subclass
ebook = Ebook("Python Crash Course", "Eric Matthes", "No Starch Press", "PDF", "5.2 MB")

In [130]:
# Print information about the book and ebook
print("Book:")
print(paper_book)
print("\nEbook:")
print(ebook)

Book:
Title: The Great Gatsby
Author: F. Scott Fitzgerald
Publisher: Scribner

Ebook:
Title: Python Crash Course
Author: Eric Matthes
Publisher: No Starch Press
File Format: PDF
File Size: 5.2 MB

Q.10. Create a class called "Bank" with properties for "name" and "accounts". Add methods to create new
accounts, deposit and withdraw money from accounts, and to calculate the total balance of all accounts.
Create an object of this class and test out the methods.

In [131]:
class Bank:
    def __init__(self, name):
        self.name = name
        self.accounts = {}

    def create_account(self, account_number, initial_balance=0):
        if account_number not in self.accounts:
            self.accounts[account_number] = initial_balance
            return f"Account {account_number} created with an initial balance of ${initial_balance}"
        else:
            return f"Account {account_number} already exists."

    def deposit(self, account_number, amount):
        if account_number in self.accounts:
            self.accounts[account_number] += amount
            return f"Deposited ${amount} into account {account_number}. New balance: ${self.accounts[account_number]}"
        else:
            return f"Account {account_number} does not exist."

    def withdraw(self, account_number, amount):
        if account_number in self.accounts:
            if amount <= self.accounts[account_number]:
                self.accounts[account_number] -= amount
                return f"Withdrew ${amount} from account {account_number}. New balance: ${self.accounts[account_number]}"
            else:
                return f"Insufficient funds in account {account_number}."
        else:
            return f"Account {account_number} does not exist."

    def total_balance(self):
        return sum(self.accounts.values())

In [132]:
# Create an object of the Bank class
my_bank = Bank("MyBank")

In [133]:
my_bank.name

'MyBank'

In [134]:
my_bank.accounts

{}

In [135]:
# Test the methods
print(my_bank.create_account("12345", 1000))
print(my_bank.create_account("67890", 500))

Account 12345 created with an initial balance of $1000
Account 67890 created with an initial balance of $500

In [136]:
my_bank.accounts

{'12345': 1000, '67890': 500}

In [137]:
print(my_bank.deposit("12345", 500))
print(my_bank.withdraw("67890", 200))

Deposited $500 into account 12345. New balance: $1500
Withdrew $200 from account 67890. New balance: $300

In [138]:
my_bank.accounts

{'12345': 1500, '67890': 300}

In [139]:
print(my_bank.deposit("99999", 100))  # Account does not exist
print(my_bank.withdraw("12345", 2000))  # Insufficient funds

Account 99999 does not exist.
Insufficient funds in account 12345.

In [140]:
print(f"Total balance in {my_bank.name}: ${my_bank.total_balance()}")

Total balance in MyBank: $1800

In [141]:
class Bank:
    def __init__(self, name, accounts):
        self.name = name
        self.accounts = accounts
        
    def create_account(self, account_number, initial_amount):
        if account_number not in self.accounts:
            self.accounts[account_number] = initial_amount
            return f"Account {account_number} created with an initial balance of ${initial_amount}"
        else:
            return f"Account {account_number} does not exist."
        
    def deposit_amount(self, account_number):
        if account_number in self.accounts:
            deposit = float(input("Enter the amount to be deposited in given account : "))
            self.accounts[account_number] += deposit
            return f"Deposited ${deposit} into account {account_number}. New balance: ${self.accounts[account_number]}"
        else:
            return f"Account {account_number} does not exist."
        
    def withdraw_amount(self, account_number):
        if account_number in self.accounts:
            withdraw = float(input("Enter the amount to be withdrawn from given account : "))
            if withdraw <= self.accounts[account_number]:
                self.accounts[account_number] -= withdraw
                return f"Withdrew ${withdraw} from account {account_number}. New balance : ${self.accounts[account_number]}"
            else:
                return f"Insufficient funds in account {account_number}."
        else:
            return f"Account {account_number} does not exist."
        
    def total_balance(self):
        total = sum(self.accounts.values())
        return f"Total balance in {self.name} in all accounts : {total}"

In [142]:
my_bank = Bank("CBI", {})

In [143]:
my_bank.name

'CBI'

In [144]:
my_bank.accounts

{}

In [145]:
print(my_bank.create_account("CBI82540", 2000))

Account CBI82540 created with an initial balance of $2000

In [146]:
print(my_bank.create_account("CBI82640", 2500))

Account CBI82640 created with an initial balance of $2500

In [147]:
my_bank.accounts

{'CBI82540': 2000, 'CBI82640': 2500}

In [148]:
print(my_bank.deposit_amount("CBI44480"))

Account CBI44480 does not exist.

In [149]:
print(my_bank.deposit_amount("CBI82540"))

Enter the amount to be deposited in given account : 1000
Deposited $1000.0 into account CBI82540. New balance: $3000.0

In [150]:
print(my_bank.deposit_amount("CBI82640"))

Enter the amount to be deposited in given account : 2500
Deposited $2500.0 into account CBI82640. New balance: $5000.0

In [151]:
print(my_bank.withdraw_amount("CBI44480"))

Account CBI44480 does not exist.

In [152]:
print(my_bank.withdraw_amount("CBI82540"))

Enter the amount to be withdrawn from given account : 5000
Insufficient funds in account CBI82540.

In [153]:
print(my_bank.withdraw_amount("CBI82640"))

Enter the amount to be withdrawn from given account : 1000
Withdrew $1000.0 from account CBI82640. New balance : $4000.0

In [154]:
print(my_bank.withdraw_amount("CBI82540"))

Enter the amount to be withdrawn from given account : 2000
Withdrew $2000.0 from account CBI82540. New balance : $1000.0

In [155]:
print(my_bank.total_balance())

Total balance in CBI in all accounts : 5000.0